.encabezado {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  z-index: 100;
  margin: 0;
  padding: 30px;
}

.encabezado ul {
  margin: 0;
  padding: 0;
}

.encabezado li {
  display: inline;
}

.encabezado a {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: Helvetica;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.encabezado div {
  display: flex;
  align-items: center;
}

.encabezado img {
  cursor: pointer;
  margin-left: 10px;
  width: 40px;
}




@media (max-width: 600px) {
  .encabezado {
    width: 100%;
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    padding: 15px; /* Ajusta el padding para móviles */
  }

  .encabezado ul {
    display: flex;
   
    padding: 0;
  }

  .encabezado a {
    color: white;
    text-decoration: none;
    font-family: Helvetica;
    text-align: center;
    padding: 10px; /* Ajusta el padding para móviles */
    display: block; /* Asegura que los enlaces ocupen toda la línea */
  }

  .encabezado div {
    display: flex;
    flex-direction: row; /* Coloca las imágenes en una fila */
    justify-content: center;
    margin-top: 10px; /* Espacio entre los enlaces y las imágenes */
  }

  .encabezado img {
    cursor: pointer;
    margin: 0 10px; /* Añade espacio entre las imágenes */
    width: 40px;
  }
}
