.principal {
  margin: 0;
  padding: 25px 10px;
  background-color: rgb(80, 80, 83);
  border-radius: 25px;
  margin-top: 30px;
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
}

.main img {
  width: 200px;
  height: auto;
}

.main p {
  padding: 40px;
  color: white;
  font-family: Helvetica;
  text-align: left;
  font-size: 25px;
}

@media (max-width: 600px) {
  .main {
      flex-direction: column;
      width: 100%;
     
  }
}