.principal {
  margin: 0px 250px;
  display: flex;
  padding: 25px 10px;
  background-color: rgb(44, 43, 51);
  background-size: cover; /* Ajusta el tamaño del fondo para cubrir completamente el elemento */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: repeat; /* Evita que la imagen de fondo se repita */
  border-radius: 25px;
  margin-top: 30px;
  height: auto; 
  font-family: Helvetica; /* Permite que la altura se ajuste automáticamente según el contenido */
  width: 70%;
  align-items: center;
  justify-content:center ;
 justify-items: center;




}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Hacer que la transición sea un poco más lenta */
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.main {
  display: flex;
  width: 90%;
  align-items: center;
  font-family: Helvetica;
}

.main img {
  width: 250px;
  height: auto;
  border-radius: 10px;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  color: #000000;
  padding: 40px;
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 2s forwards ease-in-out; /* Animación de 2 segundos */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@media (max-width: 600px) {
  .principal {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100vh; /* Usa el 100% del alto de la ventana para centrar */
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px;
  }

  .main {
    flex-direction: column; /* Cambia el layout a columna */
    align-items: center;
    
  }

  .main img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    max-width: 250px; /* Para que no crezca más allá de este tamaño */
    height: auto;
    margin-bottom: 20px; /* Añade un margen inferior para separarlo del texto */
  }

  p {
    font-size: 18px;
    padding: 10px;
    opacity: 0;
    transition: opacity 1s ease-out; /* Añade la transición en el texto */
  }

  .show p {
    opacity: 1;
    transition: opacity 1.2s ease-out; /* Hacer que el texto aparezca más lentamente */
  }
}

@media (max-width: 1050px) {
  .principal {
    display: flex;
   
    width: 90%;
    height: 100vh; /* Usa el 100% del alto de la ventana para centrar */
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px;
  }

  .main {
    flex-direction: column; /* Cambia el layout a columna */
    align-items: center;
    
  }

  .main img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    max-width: 250px; /* Para que no crezca más allá de este tamaño */
    height: auto;
    margin-bottom: 20px; /* Añade un margen inferior para separarlo del texto */
  }

  p {
    font-size: 18px;
    padding: 10px;
    opacity: 0;
    transition: opacity 1s ease-out; /* Añade la transición en el texto */
  }

  .show p {
    opacity: 1;
    transition: opacity 1.2s ease-out; /* Hacer que el texto aparezca más lentamente */
  }
}