.principal {
    color: white;
    text-align: center;
   margin-top: 150px;
    border-radius: 25px;
   
  }
  
  .principal h1 {
    font-size: 80px;
    font-family: Helvetica;
    margin-bottom: 5px; 
    animation: moveUpDown 2s infinite ease-in-out;
  }
  
  .principal h2 {
    font-size: 20px;
    font-family: Helvetica;
    margin-top: 5px; 
    animation: moveUpDown 2s infinite ease-in-out;
  }
  .principal img{
    width: 30px;
  }
 
  .iconos {
    color: rgb(189, 190, 192);
    font-size: 30px;
   
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px; 
  }
  
  .iconos a {
    color: inherit;
    text-decoration: none;
    animation: moveUpDown 2s infinite ease-in-out;
  }
  
  .iconos i {
    transition: color 0.1s;
  }
  
  .iconos a:hover i {
    color: rgb(255, 255, 255); 
    transform: scale(1.1);
    
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

 


  @media screen and (max-width: 750px) {
    .principal {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
    }
  
   
  }